* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  width: 100%;
  background-color: lavenderblush;
  height: 4em;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
}

nav {
  margin: 0 2em;
}

footer {
  width: 100%;
  background-color: lightgrey;
  height: 2em;
  margin-top: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

article {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 2em;
  padding: 1em;
}
